/* anidamiento o Nesting */
/* RESET */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  overflow-x: hidden;
}

/*HEADER + NAVBAR*/
#barcontainer {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

#barcontainer #a2 {
  margin-top: 0.8rem;
  width: 3rem;
}

@media (min-width: 993px) {
  #barcontainer {
    display: none;
  }
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border: none;
}

.icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
}

.icon {
  stroke: #000000;
  opacity: 1;
}

.header {
  width: 100%;
  min-height: 100vh;
  background-image: url(../Images/Backgrounds/fondo-nutri-transp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.header::before {
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), #222831);
}

.bg-light {
  position: fixed;
  z-index: 50;
  width: 100%;
}

.navlist a {
  color: black !important;
  font-size: 17px;
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
}

.navlist a:hover {
  background-color: #76D7C4;
}

.text-header {
  min-height: 100vh;
  color: black;
  font-weight: bold;
  text-align: center;
}

.text-header h2 {
  color: black;
  font-weight: bold;
}

.text-header p {
  margin-top: 6%;
  font-size: 160%;
}

.text-header h2:hover {
  transform: scale(1.03);
  transition: all 1s;
}

.text-header span {
  letter-spacing: 10px;
  margin-left: 4px;
  font-size: 1em;
  color: #0E6251;
}

.btn-yo {
  margin-top: 3%;
  color: #f4f4f4;
  background-color: #0B5345;
}

.btn-yo:hover {
  color: black;
  background-color: #76D7C4;
  font-weight: bold;
  transform: scale(1.03);
  transition: all 0.3s;
}

/* QUIENES SOMOS */
.section-somos {
  font-weight: bold;
  height: auto;
  text-align: center;
  padding-top: 100px;
  display: flex;
  margin: 0px !important;
  flex-direction: row;
  align-items: center;
}
.section-somos img {
  margin-bottom: 20px;
  border-radius: 10px;
}
.section-somos .garantia-somos {
  margin-top: 30px;
}
.section-somos .garantia-somos img {
  width: 200px;
}

/* PRODUCTOS */
.products {
  margin: 20px 0px;
  padding-top: 80px;
  padding-bottom: 50px;
  width: 100%;
}
.products img {
  border-radius: 50%;
  width: 100%;
}
.products .section-productos {
  font-weight: bold;
  text-align: center;
  height: 100%;
  width: 80%;
}
.products .section-productos p {
  margin-top: 30px;
}
.products .section-productos .contenedor-grid {
  width: 100%;
  font-size: 20px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  grid-gap: 70px;
  position: relative;
  left: -80px;
  grid-row-gap: 20px;
}
.products .section-productos .contenedor-grid div {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.822);
  box-shadow: 2px 2px 10px rgba 0, 0, 0, 0, 25;
}
.products .section-productos .contenedor-grid .box {
  border-radius: 4px;
}
.products .section-productos .contenedor-grid .box:hover {
  transform: scale(1.03);
  transition: all 1s;
}

@media only screen and (max-width: 768px) {
  .products .section-productos .contenedor-grid {
    margin-top: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
    grid-template-columns: 33.33% 33.33%;
  }
}
/* FOOTER */
.footer {
  margin: 0% 0%;
  padding: 10% 20% 10% 20%;
  color: #f0f0f0;
  background-color: #000000;
}
.footer button {
  font-size: 20px;
  width: 100%;
  background-color: #069b7d;
  color: #000000;
}
.footer button.btn:hover {
  color: black;
  background-color: #0dcea7;
}

/* WHATSAPP */
.image-wpp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.image-wpp:hover {
  transform: scale(1.1);
  transition: all 1s;
}

/* Registro */
* {
  box-sizing: border-box;
}

.body_registro {
  background-color: #038b70;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container_registro {
  background-color: #ffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}

.header_registro {
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
}

.header_registro h2 {
  margin: 0;
}

.form_registro {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 30px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e73e2b;
}

.form-control i {
  position: absolute;
  top: 35px;
  right: 10px;
  visibility: hidden;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e73e2b;
  visibility: visible;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small {
  visibility: visible;
  color: #e73e2b;
}

.form button {
  background-color: #006853;
  border: 2px solid #006853;
  border-radius: 4px;
  display: block;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  font-family: inherit;
  width: 100%;
}

/* Mix Frutos Secos*/
.headerMixFru {
  background-color: whitesmoke;
  z-index: 100;
}

.ulMixFru {
  background-color: whitesmoke;
  color: #006853;
}
.ulMixFru .nav-link {
  background-color: black;
}

.nav-link {
  background-color: black;
  color: #006853;
}

.nav-pills .nav-link.active {
  background-color: #006853;
  color: white;
}

.nav-pills .nav-link {
  color: gray;
}
.nav-pills .nav-link:hover {
  color: #c9c9c9;
}

.bodyMixFrutos {
  background-color: black;
  color: #fff;
}

.card-mixFru {
  background-color: #006853;
  color: #fff;
}

.card-mixFru img {
  border-radius: 50%;
}

.descriptionMix {
  height: 25px;
  overflow: hidden;
  transition: height 0.3s ease-in 0.3s;
}

.descriptionMix:hover {
  height: auto;
}

.btn-agregarCarr {
  width: 100%;
  background-color: black;
  border-color: white;
}

.btn-agregarCarr:hover {
  background-color: #212121;
  color: #f0f0f0;
  border-color: #696969;
}

.footer-mixFru {
  background-color: #00685369;
  font-size: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
