/* Mix Frutos Secos*/

.headerMixFru {
    background-color: whitesmoke;
    z-index: 100;
}

.hide, .remove {
    z-index: 100;
    display: none;
}
.ulMixFru {
    background-color: whitesmoke;
    color: #006853 ;
    .nav-link {
        background-color: black;
    }
}

.nav-mixFru {
    background-color: black;
    color: #006853;
}

.nav-pills .nav-link.active {
    background-color: #006853;
    color: white;
}

.nav-pills .nav-link {
    color: gray;
    &:hover {
        color: #c9c9c9;
    }
}
.bodyMixFrutos{
    background-color: black;
    color: #fff;
}

.card-mixFru {
    background-color: #006853 ;
    color: #fff;
}

.card-mixFru img {
    border-radius: 50%;
}

.descriptionMix {
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
}
.descriptionMix:hover {
    height: auto;
}

.btn-agregarCarr {
    width: 100%;
    background-color: black;
    border-color: white;
}

.btn-agregarCarr:hover{
    background-color: #212121;
    color: #f0f0f0;
    border-color: #696969;
}

.footer-mixFru {
    background-color: #00685369;
    font-size: 0.7rem;
}

.carrito-mixFru {
    min-height:30vh;
    max-width: 1000px;
    margin-bottom: 0 auto;
    width: 100%;
}
.table__productos s{
    display: flex;
}

.table__productos > img {
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}

.table__cantidad > input {
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}
