/* FOOTER */
.footer {
    /* padding: 30px; */
    // display: flex;
    // flex-direction: column;
    // justify-content:center ;
    // align-items: center;
    /* height: 600px; */
    font-weight: bold;
    color: white;
    background-color: black;
    background-size: cover;
}